# ===================================================================
# artellapipe-libs-artella requirements file
# ===================================================================
artella-plugins-core==1.0.9
tpDcc-libs-python
tpDcc-core
tpDcc-libs-qt
